body {
    width: 100%;
    margin: 0;  
    font-size: 16px;
    color: black;
}


/* Header and Nav */
header {
    height: 64px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    border-bottom: black 3px solid;
}

.links ul li {
    margin-right: 24px;
    display: inline;
    font-size: 1.5rem;
    font-family: helvetica;
}

li a {
    text-decoration: none;
    color: black;
}
.colmar {
    font-weight: 800px;
    font-size: 1.5rem;
    font-family: 'Oswald';
    letter-spacing: -2px;
    
}
.academy {
    font-weight: 400px;
    font-size: 1.5rem;
    font-family: 'Oswald';
    color: lightgrey;
    font-weight: inherit;
    letter-spacing: -2px;
 
}
.logo {
    margin-left: 24px;

}
.logo img {
    height: 28px;
}
.banner {
   background-color: #f3f3f3;
   width: 100%;
   display: flex;
   justify-content: space-between;
}
.banner-img {
    width: 60%;
    margin: 32px 24px;

}
.banner-heading {
    padding-left: 24px;
}
.banner-heading h1 { 
    font-family: Anton;
    letter-spacing: 1px;
    font-weight: lighter;
    font-size: 3em;
    
}
.banner-heading p {
    letter-spacing: 1px;
    font-family: 'oswald';
    font-size: 2em;

}

.banner-heading .start-here {
    background-color: black;
    color: white;
    padding-top: 8px;
    padding-bottom: 8px;
    width: 80%;
    font-size: 1em;
    border-style: none;

}